mat-form-field{
    width: 100%;

}
.error-text{
    color: #ca4040;
    margin: 0px;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: left; 
}
.avatar {
    vertical-align: middle;
    width: 60px;
    height: 49px;
    border-radius: 50%;
    float: right;
    margin-top: -43px;
  } 